.cancelamento-plano-mensagem {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cancelamento-plano-mensagem .cancelamento-plano-mensagem-contente {
  width: 100%;
  max-width: 450px;
}

.cancelamento-plano-mensagem p {
  font-size: 24px;
  font-family: "Unimed Slab";
  text-align: center;
}
.cancelamento-plano-mensagem .cancelamento-plano-mensagem-info {
  max-width: 450px;
}

.cancelamento-plano-mensagem-warning {
  color: #f47920;
  max-width: 550px;
}

.cancelamento-plano-mensagem-info {
  color: #00995d;
  text-align: left;
}

.cancelamento-plano-mensagem-erro {
  color: #ed1651;
}

.cancelamento-plano-alerta {
  display: flex;
  align-items: flex-start;
}

.cancelamento-plano-alerta img {
  padding-right: 10px;
  margin-top: 5px;
  width: 35px;
}

.cancelamento-plano-alerta p {
  font-size: 20px;
  color: #f47920;
}

.cancelamento-plano-mensagem img {
  display: flex;
  margin: auto;
  width: 40px;
}

.cancelamento-plano-footer-botoes {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.cancelamento-plano-tabela {
  font-size: 14px;
  font-family: "Unimed Sans";
  color: #333333;
  width: 100%;
}

.cancelamento-plano-tabela thead {
  font-size: 16px;
  font-weight: bold;
}

.cancelamento-plano-tabela thead td {
  padding-bottom: 12px !important;
}

.cancelamento-plano-tabela td {
  padding: 30px;
}

.selected td {
  background-color: #e7f0ce;
}
.cancelamento-plano-tabela tr {
  border-bottom: #c4cbcf 1px solid;
}
.cancelamento-plano-tabela tr:nth-child(2n) {
  background-color: #f8f8f8;
  border-top: #c4cbcf 1px solid;
  border-bottom: #c4cbcf 1px solid;
  opacity: 1;
}

.cancelamento-plano-titulo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cancelamento-plano-titulo h1 {
  font-family: "Unimed Slab Bold";
  font-size: 30px;
  padding-bottom: 14px;
  font-weight: bold;
  color: #333333;
}

.cancelamento-plano-titulo .cancelamento-plano-title-message {
  width: 100%;
  max-width: 450px;
}
.cancelamento-plano-titulo .cancelamento-plano-title-message p {
  font-family: "Unimed Slab";
  font-size: 18px;
  color: #7c7c83;
}

.cancelamento-plano-container-titulo {
  border-bottom: 2px solid #00995d;
  margin-left: 60px;
  margin-right: 60px;
}

.cancelamento-plano-container-titulo p {
  margin-left: 30px;
}

.cancelamento-plano-container-page {
  padding-left: 120px;
  padding-right: 120px;
}

.cancelamento-plano-titulo-green {
  font-family: "Unimed Sans Bold";
  font-size: 18px;
  color: #00995d;
}

.cancelamento-plano-historico-vazio {
  text-align: center;
  font: normal normal normal 22px/22px Unimed Slab;
  letter-spacing: 0px;
  color: #bcbcbc;
  margin-top: 57px;
}

.container-check label {
  cursor: pointer;
}

.container-check {
  display: flex;
  gap: 5px;
  cursor: default;
}

.container-check label input[type="checkbox"] {
  display: none;
  cursor: default;
}

.container-check label .content-check {
  border: 1px solid #00995d;
  height: 22px;
  width: 22px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
.container-check label .error {
  border: 1px solid red;
}

.check-error-disabled {
  cursor: default !important;
}

.container-check label input[type="checkbox"]:checked ~ .content-check div {
  width: 16px;
  height: 16px;
  background-color: #00995d;
  border-radius: 5px;
  cursor: pointer;
}
.container-check
  label
  input[type="checkbox"]:checked
  ~ .content-check
  .check-error-disabled {
  background-color: #aaa;
}

.label-check {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  cursor: default;
}

.errorSelecao {
  color: red;
  display: flex;
  justify-content: center;
}

.container-calendar {
  display: flex;
  margin-left: 10px;
}

.cancelamento-plano-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.cancelamento-plano-data-container .error_data_cancelamento {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  color: red;
  line-height: 0;
}

.error {
  color: red;
}

.cancelamento-plano-data {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancelamento-plano-data span {
  font-weight: bold;
  color: #333;
}

.cancelamento-plano-data .cancelamento-plano-data-container-input {
  width: 179px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 3px 5px #0000001c;
  border: 1px solid #c4cbcf;
  border-radius: 30px;
  z-index: 100;
  background: #fff;
}
.cancelamento-plano-data div .vertical-line {
  height: 70%;
  width: 2px;
  background-color: #ccc;
}

.cancelamento-plano-data div img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.cancelamento-plano-data div input {
  outline: none;
  border: none;
  width: 87px;
  color: #7c7c83;
  font-size: 14px;
}

.body_calendar {
  margin-left: 160px;
  width: 100%;
  max-width: 366px;
  height: 337px;
  box-shadow: 0px 3px 6px #0000006b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  opacity: 0;
  animation: animaCalendario 0.5s forwards !important;
  position: absolute;
  margin-top: 20px;
}

@keyframes animaCalendario {
  to {
    opacity: 1;
  }
}

.body_calendar_header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.MuiPopover-paper {
  height: 150px !important;
}

.MuiPopover-paper::-webkit-scrollbar {
  width: 10px !important;
  background: transparent !important;
}

.MuiPopover-paper::-webkit-scrollbar-track {
  background: transparent !important;
}

.MuiPopover-paper::-webkit-scrollbar-thumb {
  background-color: #c4cbcf !important;
  border-radius: 10px !important;
  border: 2px solid white !important;
}
.MuiSelect-select {
  background-color: #fff !important;
  font-size: 16px !important;
  font-weight: bold !important;
  display: flex !important;
  justify-content: center !important;
  margin-top: -2px !important;
}
.Mui-selected {
  background-color: #00995d !important;
  color: #fff !important;
}

.select_month:nth-child(1),
.select_month:nth-child(2) {
  width: 133px !important;
  height: 34px !important;
  border-radius: 17px !important;
  font-size: 16px !important;
  color: #333333 !important;
  text-align: center;
  outline: none !important;
  box-shadow: none !important;
  background-color: #fff;
}

.select_month:nth-child(2) {
  width: 99px !important;
}
.body_calendar {
  background-color: #fff;
}

.body_calendar .body_calendar_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15px;
  margin-bottom: 10px;
}

.body_calendar_content div {
  width: 27px;
  text-align: center;
  cursor: default;
}
.body_calendar_content_day {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.body_calendar_content_day_per {
  display: flex;
  justify-content: space-between;
}

.body_calendar_content_day_per div {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  color: #7c7c83;
}
.body_calendar_content_day_per div:hover {
  background-color: #00995d;
  color: #fff;
}

.body_calendar_content_day_per .date-not-today {
  color: #eee;
  cursor: default;
}

.body_calendar_content_day_per .date-not-today:hover {
  background-color: #fff;
  color: #eee;
}

.body_calendar_content_day_per .activeDay {
  background-color: #00995d;
  color: #fff;
}

.responsive-table-cancelamento {
  display: none;
}
.informe-telefone-titular {
  margin-top: 41px;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

.modal-container-teste {
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 1000;
  padding: 10px 3px;
  display: flex;
  justify-content: center;
}

.modal-content-cancelamento {
  width: 100%;
  max-width: 1000px;
  height: 844px;
  background: #fff;
  position: relative;
  border-radius: 8px;
  display: flex;
  padding: 30px;
  overflow-y: auto;
  transform: translateY(-600px);
  animation: animation 0.8s forwards !important;
}
.modal-header-responsive {
  border-bottom: 1px solid #7c7c83;
}
.modal-header-responsive > h1 {
  font-size: 18px;
  color: #00995d;
  font-weight: bold;
}
.exit-responsive {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.exit-responsive span::before {
  content: "\2573";
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  color: #777777;
  cursor: pointer;
}

.content-cancelamento {
  width: 100%;
}

.title {
  width: 100%;
  border-bottom: 1px solid #7c7c83;
}
.title div {
  width: 92%;
}
.title > div > h1 {
  text-align: left;
  color: #00995d;
  font-size: 20px;
  font-weight: bold;
}

.info-cartao {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 46px;
  height: 150px;
  overflow: auto;
}

.info-cartao .table-bene-cancelamento {
  width: 100%;
  max-width: 800px;
  table-layout: fixed;
}

.thead-bene-cancelamento > tr > th {
  text-align: left;
  padding: 10px 40px;
  color: #333333;
  font-size: 16px;
}

.thead-bene-cancelamento > tr > {
  display: block;
  position: relative;
}
.tbody-bene-cancelamento > tr:first-child td {
  padding-top: 25px;
  text-align: left;
}
.tbody-bene-cancelamento > tr > td {
  text-align: left;
  padding: 0px 40px;
  color: #333333;
  font-size: 14px;
}

.tbody-bene-cancelamento tr:first-child {
  border-top: 1px solid #c4cbcf;
}

.label-doc-cancelamento {
  color: #333333;
  text-align: left;
  font-weight: 600;
  font-size: 15px;
}

.list-beneficiarios-responsive {
  display: none;
  padding: 10px 10px;
  overflow-y: auto;
  max-height: 200px;
  border-bottom: 1px solid #7c7c83;
  margin-bottom: 10px;
}

.list-beneficiarios-responsive > div {
  display: flex;
  flex-direction: column;
}
.list-beneficiarios-responsive > div > span {
  font-size: 12px;
}
.list-beneficiarios-responsive > div > span:nth-child(1) {
  color: #333333;
  font-weight: bold;
  font-size: 14px;
}
.list-beneficiarios-responsive::-webkit-scrollbar,
.aviso-responsive-container::-webkit-scrollbar,
.info-cartao::-webkit-scrollbar,
.modal-content-cancelamento::-webkit-scrollbar,
.content-doc-cancelamento::-webkit-scrollbar {
  width: 14px;
}
.list-beneficiarios-responsive::-webkit-scrollbar-track,
.aviso-responsive-container::-webkit-scrollbar-track,
.info-cartao::-webkit-scrollbar-track,
.modal-content-cancelamento::-webkit-scrollbar-track
  .content-doc-cancelamento::-webkit-scrollbar-track {
  background: #fff;
}
.list-beneficiarios-responsive::-webkit-scrollbar-thumb,
.aviso-responsive-container::-webkit-scrollbar-thumb,
.info-cartao::-webkit-scrollbar-thumb,
.modal-content-cancelamento::-webkit-scrollbar-thumb,
.content-doc-cancelamento::-webkit-scrollbar-thumb {
  background-color: #c4cbcf;
  border-radius: 20px;
  border: 5px solid #fff;
}

.divider-list-beneficiarios-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2px;
  margin: 10px 0px;
  width: 100%;
  background-color: #00000029;
}

.content-doc-cancelamento {
  height: 319px;
  border: 1px solid #ececec;
  border-radius: 3px;
  margin-bottom: 15px;
  overflow: auto;
  color: #333333;
  text-align: left;
  padding: 15px;
}
.doc-cancelamento .content-doc-cancelamento .title-doc-cancelamento {
  font-size: 16px;
  font-weight: bold;
}

.actions-cancelamento {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.actions-cancelamento button {
  width: 152px;
  height: 40px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  background-color: #00995d;
  font-size: 16px;
}

.actions-cancelamento .btn-cancelar {
  color: #777777;
  border: 1px solid #777777;
  background: #fff;
}

.actions-cancelamento .btn-cancelar::after {
  content: "Cancelar";
}

.actions-cancelamento .btn-cancelar:hover:after {
  content: "Voltar";
}

.actions-cancelamento .btn-cancelar:hover {
  background: #ececec;
  box-shadow: 0px 3px 6px #00000029;
}

.actions-cancelamento .btn-enviar:hover {
  background: #411564;
}

.modal-container {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.modal-content-mensagem {
  top: 150px;
  width: 450px;
  background: #fff;
  height: 405px;
  position: relative;
  border-radius: 8px;
  display: flex;
  padding: 21px 29px;
  display: flex;
  flex-direction: column;
  transform: translateY(-600px);
  animation: animation 0.5s forwards !important;
}

.close-message {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close-message span::before {
  content: "\2573";
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  color: #777777;
  cursor: pointer;
}

.icon_check {
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
}
.icon_check > img {
  height: 60px;
  color: #00995d;
}
.mensagem {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0px 29px;
}
.mensagem p {
  color: #00401a;
  font-size: 18px;
  font-weight: bold;
}
.protocolo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}
.informacao {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #333333;
}

@media (max-width: 768px) {
  .modal-content-mensagem {
    width: 340px;
    height: 380px;
    padding: 21px 26px;
  }
  .icon_check {
    margin-bottom: 20px;
  }
  .icon_check > img {
    height: 50px;
  }
  .mensagem {
    padding: 0px 21px;
  }
  .mensagem p {
    font-size: 16px;
  }
  .protocolo {
    font-size: 16px;
  }
  .informacao {
    font-size: 15px;
  }
}

@keyframes animation {
  to {
    opacity: initial;
    transform: initial;
  }
}

@media (max-width: 768px) {
  .modal-content-cancelamento {
    height: 944px;
    width: 90%;
    padding: 10px;
  }

  .info-cartao {
    display: none;
  }
  .list-beneficiarios-responsive {
    display: block;
  }
  .title > div > h1 {
    font-size: 18px;
  }

  .label-doc-cancelamento,
  .title-doc-cancelamento,
  .doc-cancelamento {
    font-size: 14px !important;
  }
  .responsive-terms label:nth-child(2) {
    font-size: 14px !important;
  }
  .content-doc-cancelamento {
    height: 319px;
  }
}

@keyframes animation {
  to {
    opacity: initial;
    transform: initial;
  }
}

@media (max-width: 768px) {
  .container-cancelamento {
    padding: 10px;
  }

  /*Títlulo*/
  .cancelamento-plano-titulo h1 {
    font-size: 24px;
  }
  .cancelamento-plano-titulo .cancelamento-plano-title-message p {
    font-size: 16px;
  }
  .cancelamento-plano-mensagem p {
    white-space: normal;
    display: block;
    text-align: center;
    justify-content: center;
    padding-top: 0px;
  }
  /*----------------------*/

  /*Calendário*/
  .container-calendar {
    flex-direction: column;
  }

  .body_calendar {
    max-width: 340px;
    margin-top: 70px;
    margin-left: -105px;
  }

  .select_month:nth-child(1),
  .select_month:nth-child(2) {
    width: 115px !important;
    height: 31px !important;
    border-radius: 17px !important;
    font-size: 14px !important;
    color: #333333 !important;
    text-align: center;
    outline: none !important;
    box-shadow: none !important;
    background-color: #fff;
  }

  .select_month:nth-child(2) {
    width: 92px !important;
  }

  .MuiSelect-select {
    font-size: 14px !important;
  }
  /*----------------------*/

  /* Solicitações */
  .cancelamento-plano-container-titulo {
    border-bottom: 1px solid #00995d;
    margin: 0px;
  }
  .cancelamento-plano-container-titulo p {
    margin: 0px;
  }

  .cancelamento-plano-container-page {
    padding: 0px 5px;
  }

  .cancelamento-plano-container-page .cancelamento-plano-alerta p {
    font-size: 14px;
  }
  /*----------------------*/

  /*Formulário*/
  .informe-telefone-titular {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
  }
  #telefone {
    margin-bottom: 10px;
  }
  .subtitle-formulario {
    font-size: 18px;
    margin-top: 20px;
    color: #333333;
  }
  .subtitle-formulario ~ p {
    font-size: 14px;
    color: #333333;
  }

  .responsive-table-cancelamento {
    display: flex;
    flex-direction: column;
  }

  .responsive-table-cancelamento-header {
    display: flex;
    gap: 37px;
    font-family: 16px;
    font-family: "Unimed Sans, Bold";
    color: #333333;
    font-weight: bold;
    margin-bottom: 12px;
  }
  .responsive-table-cancelamento-body {
    margin-bottom: 35px;
  }
  .responsive-table-cancelamento-body section:nth-child(2n + 1) {
    background-color: #f8f8f8;
  }
  .responsive-table-cancelamento-body .selected {
    background-color: #e7f0ce !important;
    padding: 5px;
  }

  .responsive-table-cancelamento-body-content {
    display: flex;
    gap: 37px;
    font-family: 14px;
    font-family: "Unimed Sans, Bold";
    color: #333333;
    margin: 5px 0px;
    padding: 5px;
  }
  .responsive-table-cancelamento-body-content div:first-child {
    width: 65px;
    display: flex;
    justify-content: center;
  }
  .responsive-table-cancelamento-body-content div:last-child {
    display: flex;
    flex-direction: column;
  }

  .responsive-table-cancelamento-body-content
    .responsive-table-cancelamento-body-content-infos
    span:nth-child(3) {
    color: #777777;
  }
  .responsive-table-cancelamento-body-content
    .responsive-table-cancelamento-body-content-infos
    span:nth-child(2) {
    margin-bottom: 5px;
  }
  .responsive-table-cancelamento-body-content
    .responsive-table-cancelamento-body-content-infos
    span {
    color: #333333;
    font-size: 14px;
  }

  .divider-table-cancelamento {
    height: 2px;
    background-color: #ececec;
  }

  .cancelamento-plano-tabela {
    display: none;
  }

  .container-check label .content-check {
    height: 20px;
    width: 20px;
  }
}
