.cancelamento-plano-mensagem p {
  white-space: pre-line;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 25px;
  font-size: 24px;
  font-family: "Unimed Slab";
}

.cancelamento-plano-mensagem-warning {
  color: #f47920;
}

.cancelamento-plano-mensagem-info {
  color: #00995d;
}

.cancelamento-plano-mensagem-erro {
  color: #ed1651;
}

.cancelamento-plano-alerta {
  display: flex;
  align-items: flex-start;
}

.cancelamento-plano-alerta img {
  padding-right: 10px;
  margin-top: 5px;
  width: 35px;
}

.cancelamento-plano-alerta p {
  font-size: 20px;
  color: #f47920;
}

.cancelamento-plano-mensagem img {
  display: flex;
  margin: auto;
  width: 40px;
}

.cancelamento-plano-mensagem {
  padding-top: 20px;
}

.cancelamento-plano-footer-botoes {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cancelamento-plano-tabela {
  font-size: 14px;
  font-family: "Unimed Sans";
  color: #333333;
  width: 100%;
}

.cancelamento-plano-tabela thead {
  font-size: 16px;
  font-weight: bold;
}

.cancelamento-plano-tabela thead td {
  padding-bottom: 12px !important;
}

.cancelamento-plano-tabela td {
  padding: 30px;
}

.cancelamento-plano-tabela tr:nth-child(2n) {
  background-color: #f8f8f8;
  border-top: #c4cbcf 1px solid;
  border-bottom: #c4cbcf 1px solid;
  opacity: 1;
}

.cancelamento-plano-titulo {
  text-align: center;
}

.cancelamento-plano-titulo h1 {
  font-family: "Unimed Slab Bold";
  font-size: 30px;
  padding-bottom: 14px;
  color: #333333;
}

.cancelamento-plano-titulo p {
  font-family: "Unimed Slab";
  line-height: 5px;
  font-size: 18px;
  color: #7c7c83;
}

.cancelamento-plano-titulo b {
  font-family: "Unimed Slab Bold";
  font-size: 18px;
  color: #7c7c83;
}

.cancelamento-plano-container-titulo {
  border-bottom: 2px solid #00995d;
  margin-left: 60px;
  margin-right: 60px;
}

.cancelamento-plano-container-titulo p {
  margin-left: 30px;
}

.cancelamento-plano-container-page {
  padding-left: 90px;
  padding-right: 90px;
}

.cancelamento-plano-titulo-green {
  font-family: "Unimed Sans Bold";
  font-size: 18px;
  color: #00995d;
}
