.modal-container {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.modal-content-mensagem {
  top: 150px;
  width: 450px;
  background: #fff;
  height: 405px;
  position: relative;
  border-radius: 8px;
  display: flex;
  padding: 21px 29px;
  display: flex;
  flex-direction: column;
  transform: translateY(-600px);
  animation: animation 0.5s forwards !important;
}

.close-message {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close-message span::before {
  content: "\2573";
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  color: #777777;
  cursor: pointer;
}

.icon_check {
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
}
.icon_check > img {
  height: 60px;
  color: #00995d;
}
.mensagem {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0px 29px;
}
.mensagem p {
  color: #00401a;
  font-size: 18px;
  font-weight: bold;
}
.protocolo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}
.informacao {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #333333;
}

@media (max-width: 768px) {
  .modal-content-mensagem {
    width: 340px;
    height: 380px;
    padding: 21px 26px;
  }
  .icon_check {
    margin-bottom: 20px;
  }
  .icon_check > img {
    height: 50px;
  }
  .mensagem {
    padding: 0px 21px;
  }
  .mensagem p {
    font-size: 16px;
  }
  .protocolo {
    font-size: 16px;
  }
  .informacao {
    font-size: 15px;
  }
}

@keyframes animation {
  to {
    opacity: initial;
    transform: initial;
  }
}
